@model AdresDetails
@{
    ViewData["Title"] = "Checkout";
}

<section id="content">

    <div class="container">

        <div class="row">

            <div class="col-md-8">
                <div class="padding25">
                    <h4>Lütfen bilgilerinizi giriniz</h4>
                </div>
                <div class="text-danger" asp-validation-summary="All"> </div>
                <form method="post" action="/Cart/Checkout">
                    <div class="row">

                        <div class="form-group col-xs-12">
                            <textarea asp-for="AdresTanimi" class="form-control input-lg" placeholder="AdresTanimi"></textarea>
                        </div>

                        <div class="form-group col-xs-12">
                            <textarea asp-for="Adres" class="form-control input-lg" placeholder="Adres"></textarea>
                        </div>

                        <div class="form-group col-xs-12">
                            <textarea asp-for="Sehir" class="form-control input-lg" placeholder="Sehir"></textarea>
                        </div>

                        <div class="form-group col-xs-12">
                            <textarea asp-for="Semt" class="form-control input-lg" placeholder="Semt"></textarea>
                        </div>
                        <div class="form-group col-xs-12">
                            <textarea asp-for="Telefon" class="form-control input-lg" placeholder="Telefon"></textarea>
                        </div>


                        <div class="form-group col-xs-12 text-left">
                            <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-send fa-fw"></i> Siparişi Tamamla</button>
                        </div>
                    </div>
                </form>

            </div>

            <div class="col-md-4">



            </div>

        </div>

    </div>

</section>

