<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">User Informations</a>
        <div class="collapse navbar-collapse" id="navbarText">
            @*<ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Login/Index">Login</a>
                </li>
            </ul>*@
        </div>
    </nav>
</header>